/* General settings */

@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

body {
  background-color: #0D0D0D;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, label, p, a, input, select, textarea {
  font-family: roboto-medium, sans-serif;
  color: #F2F2F2;
}

h1 {
  font-size: 2.2rem;
  letter-spacing: 2px;
  margin: 0;

}

h2 {
  font-size: 1.65rem;
  letter-spacing: 2px;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  margin: 0;
}

a, a p, a h3 {
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

a:hover {
  opacity: 0.5;
}

a:hover, a p:hover, a h3:hover {
  text-decoration: none;
  color: #F2F2F2;
}

input, textarea {
  color: #F2F2F2;
  background-color: #262626;
  max-width: 250px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Added */
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  
  background: transparent;
  width: 100%;
  max-width: 250px;
  font-family: roboto-medium, sans-serif;
  font-size: 1rem;
  color: #F2F2F2;
  border: none;
  padding: 6px 0 5px 8px;
}

.styled-select {
  width: 100%;
  max-width: 250px;
  height: 35px;
  overflow: hidden;
  border-radius: 0;
  background: url(../images/icons/down-arrow.svg) no-repeat right #262626;
  background-size: 28px 30px;
  text-align: left;
  display: inline-block;
}

input[type=text], input[type=password], input[type=email], input[type=date], input[type=month] {
  font-family: roboto-medium, sans-serif;
  font-size: 1.125rem;
  padding: 5px 15px 5px 15px;
  border: none;
  border-radius: 0;
  opacity: 1;
  box-sizing: border-box;
}

input::placeholder{
  font-family: roboto-medium, sans-serif;
}

input[type=date], input[type=month], input[type=text] {
  width: 100%;
  height: 35px;
  max-width: 250px;
}

input[type=submit] {
  font-family: roboto-bold, sans-serif;
  cursor: pointer;
  background-color: #6E8D3B;
  width: 150px;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 3px;
  box-shadow: 1px 3px 10px #00000072;
}

input[type=button] {
  font-family: roboto-bold, sans-serif;
  cursor: pointer;
  background-color: #6E8D3B;
  width: 150px;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 3px;
  box-shadow: 1px 3px 10px #00000072;
}

#save-button, #cancel-button, #delete-button {
  font-size: 0.9rem;
  width: 100px;
  padding: 5px;
  letter-spacing: 1px;
}

#cancel-button {
  background-color: #9D4532;
}

#delete-button {
  background-color: #E38C16;
}

input[type=submit]:hover, input[type=button]:hover {
  opacity: 0.5;
}

.text-bullets {
  list-style: none;
}

.text-bullets li::before {
  content: "\2022";
  color: #68da23;
  font-weight: bold;
  display: inline-block; 
  margin-left: -2.5em;
}


/* General colors and backgrounds */

.text-color-primary {
  color: #F2F2F2;
}

.text-color-income {
  color: #6E8D3B;
}

.text-color-expenses {
  color: #9D4532;
}

.text-color-alert {
  color: #E38C16;
}

.text-color-dark {
  color: #0D0D0D;
}

.bg-color-primary {
  background-color: #0D0D0D;
}

.bg-color-secondary {
  background-color: #262626;
}


/* Body */

.nav-glyph {
  width: 20px;
  margin: 0 10px 7px 0;
}

.min-100 {
  min-height: 100%;
}

#nav-logo {
  width: 150px;
}

#failed-password {
  color: #FF0000;
  font-family: roboto-bold, sans-serif;
  font-size: 1.3rem;
}

#title-row {
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
}

.title-date {
  max-width: 150px;
}

#bar-graph-row {
  height: 150px;
}

.add-button {
  width: 30px;
}

.bx-sides {
  border-left: 2px solid #0D0D0D;
  border-right: 2px solid #0D0D0D;
}

.by-sides {
  border-top: 2px solid #0D0D0D;
  border-bottom: 2px solid #0D0D0D;
}

.br-sides {
  border-right: 2px solid #0D0D0D;
}

.bl-sides {
  border-left: 2px solid #0D0D0D;
}

.bb-sides {
  border-bottom: 2px solid #0D0D0D;
}

.b-title, .t-title {
  margin: 0;
  font-size: 0.6rem;
}

.tt-sides {
  border-top: 2px solid #262626;
}

.tb-sides {
  border-bottom: 2px solid #262626;
}

.tx-sides {
  border-right: 2px solid #262626;
  border-left: 2px solid #262626;
}

.tl-sides {
  border-left: 2px solid #262626;
}

.t-symbol {
  width: 15px;
}

.t-descrip, .t-title-descrip {
  margin: 0 0 0 10px;
}

.t-amount {
  margin: 4px 0;
  font-size: 0.9rem;
}

.t-balance {
  margin: 0;
}

.t-center {
  display: flex;
  align-items: center;
}

.t-symbol {
  display: inline-block;
}

.data-row {
    cursor: pointer;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 2;
}

.footer-m {
  margin-bottom: 100px;
}

footer p {
  font-family: roboto-regular, sans-serif;
}


/* Bar Graph */

#bar-budget {
  background-color: #F2F2F2;
}

#bar-income {
  background-color: #6E8D3B;
}

#bar-expense {
  background-color: #9D4532;
}

#bar-pending-expense {
  background-color: #9D4532;
}

#budget-total {
  margin: 0;
}

#income-total {
  margin: 0;
  color: #6E8D3B;
}

#expense-total, #pending-expense-total {
  margin: 0;
  color: #9D4532;
}


/* Responsive Actions */

@media only screen and (max-width: 600px) {

  p {
    font-size: 1rem;
  }

  select {
    text-indent: 0;
  }

  #nav-logo {
    width: 140px;
  }

  .t-descrip {
    font-size: 0.9rem;
  }
}